name: Midas Build Pipeline

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    env:
      RUNNER_TOOL_CACHE: /toolcache

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'

      - name: Run Unit Tests
        run: |
          chmod +x mvnw
          ./mvnw test -Dquarkus.profile=test

  build_and_push_docker_image:
    runs-on: ubuntu-latest
    needs: run_unit_tests
    env:
      RUNNER_TOOL_CACHE: /toolcache

    services:
      docker:
        image: docker:19.03.12
        options: --privileged

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'

      - name: Generate Docker Image Tag
        id: tag
        run: |
          REPOSITORY_OWNER=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')
          
          BRANCH_NAME=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          BRANCH_NAME=${BRANCH_NAME/'/#'/-}
          BRANCH_NAME=${BRANCH_NAME//[^a-zA-Z0-9-]/}
          
          if [ "$BRANCH_NAME" == "main" ]; then
          DATE_TAG=$(date +'%Y.%m')
          BUILD_NUMBER=$(echo $GITHUB_RUN_NUMBER)
          DOCKER_IMAGE_TAG="${DATE_TAG}.${BUILD_NUMBER}"
          DOCKER_IMAGE_NAME="ghcr.io/${REPOSITORY_OWNER}/midas-release"
          PACKAGE_REGISTRY="midas-release"
          else
          BUILD_NUMBER=$(echo $GITHUB_RUN_NUMBER)
          DOCKER_IMAGE_TAG="${BRANCH_NAME}.${BUILD_NUMBER}"
          DOCKER_IMAGE_NAME="ghcr.io/${REPOSITORY_OWNER}/midas-staging"
          PACKAGE_REGISTRY="midas-staging"
          fi
          
          echo "DOCKER_IMAGE_TAG=$DOCKER_IMAGE_TAG" >> $GITHUB_ENV
          echo "DOCKER_IMAGE_NAME=$DOCKER_IMAGE_NAME" >> $GITHUB_ENV
          echo "PACKAGE_REGISTRY=$PACKAGE_REGISTRY" >> $GITHUB_ENV

      - name: Build Backend
        run: |
          chmod +x mvnw
          ./mvnw clean
          ./mvnw versions:set -DnewVersion=${{ env.DOCKER_IMAGE_TAG }}
          ./mvnw package -Dquarkus.package.jar.type=uber-jar -DskipTests

      - name: Build Docker image
        run: |
          TAG=${{ env.DOCKER_IMAGE_TAG }}
          cd /src/main/docker
          docker build -t midas:$TAG .
          cd /

      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Push Docker image
        run: |
          DOCKER_IMAGE_TAG=${{ env.DOCKER_IMAGE_TAG }}
          DOCKER_IMAGE_NAME=${{ env.DOCKER_IMAGE_NAME }}
          docker tag midas:$DOCKER_IMAGE_TAG $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
          docker push $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG

      - name: Cleanup Old Staging Images
        if: endsWith(env.DOCKER_IMAGE_NAME, 'staging')
        run: |
          cd
          chmod +x cleanup_docker_images.sh
          ./cleanup_docker_images.sh ${{ github.repository_owner }} midas-staging ${{ secrets.DOCKER_TOKEN }} 5

      - name: Add Summary
        run: |
          sed -i "s/@PACKAGE_REGISTRY@/${{ env.PACKAGE_REGISTRY }}/g" build_summary.md
          sed -i "s/@DOCKER_IMAGE_TAG@/${{ env.DOCKER_IMAGE_TAG }}/g" build_summary.md
          cat build_summary.md >> $GITHUB_STEP_SUMMARY